[submodule "Vox/External/spdlog"]
	path = Vox/External/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Vox/External/glm"]
	path = Vox/External/glm
	url = https://github.com/g-truc/glm
[submodule "Vox/External/glfw"]
	path = Vox/External/glfw
	url = https://github.com/glfw/glfw
